In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
results = np.load('results.npy')

In [3]:
results.shape

(16, 31)

In [4]:
results = pd.DataFrame(results)
results = results.T

In [5]:
results.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,1095.139020,-781.811496,-1400.0,-889.863975,-1400.0,-818.547625,-1390.660294,-757.740945,1100.356240,-766.464297,-1400.0,-890.503949,-1400.0,-891.581821,-1399.994517,-889.551036
1,1680.862653,-804.789578,-1400.0,-890.221465,-1400.0,-899.464116,-1398.848385,-864.143343,500.040700,-802.613656,-1400.0,-899.857635,-1400.0,-899.841106,-1399.999682,-865.854567
2,1081.662845,-775.764448,-1400.0,-853.154952,-1400.0,-815.177148,-1129.744618,-843.963279,1311.109603,-836.980234,-1400.0,-898.337376,-1400.0,-899.932681,-1399.999495,-887.858890
3,2040.245886,-838.527329,-1400.0,-889.863975,-1400.0,-898.902117,-1102.131715,-860.591533,1825.363632,-809.730917,-1400.0,-891.796693,-1400.0,-899.991211,-1399.987382,-890.180523
4,672.123724,-791.669339,-1400.0,-889.975593,-1400.0,-826.564654,-1216.874840,-822.733256,1340.332786,-801.592389,-1400.0,-898.252344,-1400.0,-899.993941,-1399.997325,-899.978951

In [22]:
# Rosenbrock results
cfg2 = results.get([3, 11])
cfg2.columns = ['global', 'local']
cfg2.head()

       global       local
0 -889.863975 -890.503949
1 -890.221465 -899.857635
2 -853.154952 -898.337376
3 -889.863975 -891.796693
4 -889.975593 -898.252344

In [23]:
# Rosenbrock results
cfg3 = results.get([5, 13])
cfg3.columns = ['global', 'local']
cfg3.head()

       global       local
0 -818.547625 -891.581821
1 -899.464116 -899.841106
2 -815.177148 -899.932681
3 -898.902117 -899.991211
4 -826.564654 -899.993941

In [35]:
# F-Test
print(stats.f_oneway(cfg2['global'], cfg3['global']))
print(stats.f_oneway(cfg2['local'], cfg3['local']))

F_onewayResult(statistic=0.9046881263075994, pvalue=0.34534363989627814)
F_onewayResult(statistic=10.415897142766823, pvalue=0.0020259934783321727)

In [39]:
# Welch's t-test
print(stats.ttest_ind(cfg2['global'], cfg3['global'], equal_var = False))
print(stats.ttest_ind(cfg2['local'], cfg3['local'], equal_var = False))

Ttest_indResult(statistic=-0.9511509482241004, pvalue=0.34536224435917495)
Ttest_indResult(statistic=3.227366905507847, pvalue=0.0020279452957293817)

In [40]:
# Sphere results
cfg2 = results.get([2, 10])
cfg2.columns = ['global', 'local']
cfg2.head()

   global   local
0 -1400.0 -1400.0
1 -1400.0 -1400.0
2 -1400.0 -1400.0
3 -1400.0 -1400.0
4 -1400.0 -1400.0

In [41]:
# Sphere results
cfg3 = results.get([4, 12])
cfg3.columns = ['global', 'local']
cfg3.head()

   global   local
0 -1400.0 -1400.0
1 -1400.0 -1400.0
2 -1400.0 -1400.0
3 -1400.0 -1400.0
4 -1400.0 -1400.0

In [43]:
# F-Test
print(stats.f_oneway(cfg2['global'], cfg3['global']))
print(stats.f_oneway(cfg2['local'], cfg3['local']))

F_onewayResult(statistic=1.193584378161094, pvalue=0.2789750626835421)
F_onewayResult(statistic=155.0, pvalue=2.823710372191747e-18)

In [44]:
# Welch's t-test
print(stats.ttest_ind(cfg2['global'], cfg3['global'], equal_var = False))
print(stats.ttest_ind(cfg2['local'], cfg3['local'], equal_var = False))

Ttest_indResult(statistic=-1.092519312884388, pvalue=0.2833009594581531)
Ttest_indResult(statistic=0.0, pvalue=1.0)